/********** Template CSS **********/

:root {
    --primary: #06A3DA;
    --secondary: #34AD54;
    --light: #000000;
    --dark: #091E3E;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    font-family: "Montserrat", sans-serif;
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    font-family: "Montserrat", sans-serif;
}
.navbar-dark .navbar-brand img{
    width: 42%;
    margin: 6px 0;
}
.navbar-dark .navbar-brand {
    color: #290000;
    width: 14%;
}
/*** Spinner ***/
.spinner {
    width: 40px;
    height: 40px;
    background: var(--primary);
    margin: 100px auto;
    -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
    animation: sk-rotateplane 1.2s infinite ease-in-out;
}
.navbar-dark .navbar-nav .nav-link:focus {
    color: rgb(78, 75, 75);
}

#nav-buttons span{
    position: relative;
    display: inline-flex;
    width: 180px;
    height: 55px;
    margin: 0 15px;
    perspective: 1000px;
  }
#nav-buttons span a{
    font-size: 19px;
    letter-spacing: 1px;
    transform-style: preserve-3d;
    transform: translateZ(-25px);
    transition: transform .25s;
    font-family: 'Montserrat', sans-serif;
    
  }
#nav-buttons span a:before,
#nav-buttons span a:after{
    position: absolute;
    content: "Schedule Demo";
    height: 49px;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0,0,184,1) ;
    box-sizing: border-box;
    border-radius: 30px;
    margin-left: 18px;
    padding: 4px 0;
    color: #050505;
    font-family: "Poppins", sans-serif;
    font-size: 14px;

  }
#nav-buttons span a:before{
    color: #fff;
    background: #05c6ff;
    transform: rotateY(0deg) translateZ(25px);
    animation:myfirst 2s;
    -moz-animation:myfirst 2s infinite; /* Firefox */
  -webkit-animation:myfirst 2s infinite; /* Safari and Chrome */
  }
  .carousel-caption h1 {
    text-align: left;
    font-size: 48px;
    font-family: "Poppins", sans-serif;
    /* margin-top: 98px; */
}
.banner-title{
    margin-top: 84px;
}
  @-moz-keyframes myfirst /* Firefox */ {
 100% {background:#05c6ff;}
    20% {background:#0180a6;}
    50% {background:#5c6fff;}
    100% {background:#2828fc;}
    100% {background:#05c6ff;}
}

@-webkit-keyframes myfirst /* Safari and Chrome */ {
   100% {background:#05c6ff;}
    20% {background:#0180a6;}
    50% {background:#5c6fff;}
    100% {background:#2828fc;}
    100% {background:#05c6ff;}
}
.raise{
    height: 49px;
    width: 180px;
    background:red;
    animation:myfirst 5s;
  -moz-animation:myfirst 5s infinite; /* Firefox */
-webkit-animation:myfirst 5s infinite; /* Safari and Chrome */
padding: 17px 25px;
border-radius: 30px;
color: white;
}
/* .....client section....  */
#clients-brands .card {
    display: grid;
    place-items: center;
    width: 80vw;
    max-width: 21.875rem;
    /* height: 28.125rem; */
    overflow: hidden;
    border-radius: 0.625rem;
    box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
  }
  
#clients-brands .card > * {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  
#clients-brands .card .card__background {
    object-fit: cover;
    max-width: 100%;
    height: 100%;
  }
  
#clients-brands .card .card__content {
    --flow-space: 0.9375rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: flex-end;
    height:98%;
    padding: 12% 1.25rem 1.875rem;
    background:linear-gradient(180deg, hsla(0, 0%, 0%, 0) 0%, hsla(0, 0%, 0%, 0.3) 10%, hsl(195.57deg 100% 17.53%) 100%)
  }
  
#clients-brands .card .card__content--container {
    --flow-space: 1.25rem;
  }
  
#clients-brands .card .card__title {
    position: relative;
    width: fit-content;
    width: -moz-fit-content; /* Prefijo necesario para Firefox  */
    color: white;
    font-family: poppins, sans-serif;
    font-weight: 600!important;
  }
  
  #clients-brands .card .card__title::after {
    content: "";
    position: absolute;
    height: 0.3125rem;
    width: calc(100% + 1.25rem);
    bottom: calc((1.25rem - 0.5rem) * -1);
    left: -1.25rem;
    background-color:white;
  }
  #clients-brands .card .card__description{
    color: #cdcdcd;
    margin-top: 33px;
  }
  #clients-brands .card .card__button {
    /* padding: 0.75em 1.6em; */
    width: fit-content;
    width: -moz-fit-content;
    font-variant: small-caps;
    font-weight: bold;
    border-radius: 0.45em;
    border: none;
    background-color: var(--brand-color);
    font-family: var(--font-title);
    font-size: 1.125rem;
    color: #7ED6E6;
}
  
  #clients-brands .card .card__button:focus {
    outline: 2px solid black;
    outline-offset: -5px;
  }
  
  @media (any-hover: hover) and (any-pointer: fine) {
    #clients-brands .card .card__content {
      transform: translateY(62%);
      transition: transform 500ms ease-out;
      transition-delay: 500ms;
    }
  
    #clients-brands .card .card__title::after {
      opacity: 0;
      transform: scaleX(0);
      transition: opacity 1000ms ease-in, transform 500ms ease-out;
      transition-delay: 500ms;
      transform-origin: right;
    }
  
    #clients-brands .card .card__background {
      transition: transform 500ms ease-in;
    }
  
    #clients-brands .card .card__content--container > :not(.card__title),
    #clients-brands .card .card__button {
      opacity: 0;
      transition: transform 500ms ease-out, opacity 500ms ease-out;
    }
  
    #clients-brands .card:hover,
    #clients-brands .card:focus-within {
      transform: scale(1.05);
      transition: transform 500ms ease-in;
    }
  
    #clients-brands .card:hover .card__content,
    #clients-brands .card:focus-within .card__content {
      transform: translateY(0);
      transition: transform 500ms ease-in;
    }
  
    #clients-brands .card:focus-within .card__content {
      transition-duration: 0ms;
    }
  
    #clients-brands .card:hover .card__background,
    #clients-brands .card:focus-within .card__background {
      transform: scale(1.3);
    }
  
    #clients-brands .card:hover .card__content--container > :not(.card__title),
    #clients-brands .card:hover .card__button,
    #clients-brands .card:focus-within .card__content--container > :not(.card__title),
    #clients-brands .card:focus-within .card__button {
      opacity: 1;
      transition: opacity 500ms ease-in;
      transition-delay: 1000ms;
    }
  
    #clients-brands .card:hover .card__title::after,
    #clients-brands .card:focus-within .card__title::after {
      opacity: 1;
      transform: scaleX(1);
      transform-origin: left;
      transition: opacity 500ms ease-in, transform 500ms ease-in;
      transition-delay: 500ms;
    }
  }
  .services{
    background: #092759;
    padding: 20px 0;
  }
  .expertise-card {
    border: 2px solid #0F3271;
    padding: 20px 30px;
    margin-bottom: 20px;
    min-height: 380px;
    border-image: linear-gradient(to right, #3676da, darkorchid) 1;
}
.expertise-card h4 {
    color: #06a3da;
    margin-top: 10px;
}
.expertise-card:hover {
    border: 2px solid #ffffff;
    transition: .5s;
    box-shadow: 6px 5px 16px #06a3daad;
    margin-top: -5px;
}
.expertise-card p{
    color: rgb(255 255 255 / 57%);
}
.expertise-card img{
    width:40%;
    border-radius:50%;
}
.technology{
    background: #f2f7fd;
}
.quote-area {
    height: auto;
    width: 100%;
    background: #062241;
    padding: 20px 0;
}
.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    height: 52px;
    line-height: 1.5;
    color: #6B6A75;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    appearance: none;
    border-radius: 2px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    margin-bottom: 28px;
}
textarea.form-control {
    min-height: calc(1.5em + .75rem + 2px);
    height: 135px;
}
.quote-area .quote-btn {
    background: #3078fb;
    border: 1px solid #3078fb;
    color: #fff;
    padding: 10px 20px;
    font-size: 17px;
    font-weight: 700;
    text-transform: uppercase;
    display: block;
    width: 100%;
    height: 54px;
    transition: 0.4s;
    border-radius: 3px;
}
.quote-area .quote-btn:hover {
    background: #fff;
    color: #3078fb;
    transition: 0.4s;
}
/* .raise::after{
    content: ""; 
    position: absolute; 
    inset: -.625em; 
    background: linear-gradient(to bottom right, 
        rgb(0, 255, 81), rgb(255, 213, 0)); 
    filter: blur(2.5em); 
    z-index: -1; 
    display: none;
    height: 59px; 
    width: 200px; 
    top: 0;
    right: 0;
}
.raise:hover::after{
    display: block;
}
.raise:hover{
    margin-bottom: 10px;
} */
.margin{
    /* margin-top: 13px; */
    margin-left: 10px;
}
.margin .button {
    display: inline-block;
    background: #4285f4;
    color: #fff;
    text-transform: uppercase;
    padding: 20px 30px;
    border-radius: 5px;
    box-shadow: 0px 17px 10px -10px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    -webkit-transition: all ease-in-out 300ms;
    transition: all ease-in-out 300ms;
  }
.margin .button:hover {
    box-shadow: 0px 37px 20px -20px rgba(0, 0, 0, 0.2);
    -webkit-transform: translate(0px, -10px) scale(1.2);
            transform: translate(0px, -10px) scale(1.2);
  }
#nav-buttons span a:after{
    color: #000;
    transform: rotateX(90deg) translateZ(25px);
  }
#nav-buttons span a:hover{
    transform: translateZ(-25px) rotateX(-90deg);
  }
@-webkit-keyframes sk-rotateplane {
    0% {
        -webkit-transform: perspective(120px)
    }
    50% {
        -webkit-transform: perspective(120px) rotateY(180deg)
    }
    100% {
        -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg)
    }
}

@keyframes sk-rotateplane {
    0% {
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
    }
    50% {
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
    }
    100% {
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
}

#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Heading ***/
h1,
h2,
.fw-bold {
    font-weight: 800 !important;
}

h3,
h4,
.fw-semi-bold {
    font-weight: 700 !important;
}

h5,
h6,
.fw-medium {
    font-weight: 600 !important;
}


/*** Button ***/
.btn {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    transition: .5s;
}

.btn-primary,
.btn-secondary {
    color: #FFFFFF;
    box-shadow: inset 0 0 0 50px transparent;
    border-radius: 30px;
    font-family: poppins, sans-serif;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0, 0, 184, 1);
    box-sizing: border-box;
    border-radius: 30px;
    margin-left: 4px;
    padding: 14px 36px;
    /* color: #050505; */
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 600;
}

.btn-primary:hover {
    box-shadow: inset 0 0 0 0 var(--primary);
}

.btn-secondary:hover {
    box-shadow: inset 0 0 0 0 var(--secondary);
}

.btn-square {
    width: 36px;
    height: 36px;
    line-height: 0;
}
.btn-square i{
    line-height: .5
}
.btn-sm-square {
    width: 30px;
    height: 30px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}


/*** Navbar ***/
.navbar-dark .navbar-nav .nav-link {
    /* font-family: 'Nunito', sans-serif; */
    position: relative;
    margin-left: 18px;
    padding: 15px 0;
    color: #050505;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 500;
    outline: none;
    transition: .5s;
    margin-top: 5px;
}

.sticky-top.navbar-dark .navbar-nav .nav-link {
    padding: 18px 0;
    color: var(--dark);
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
    color: var(--primary);
}

.navbar-dark .navbar-brand h1 {
    color: #FFFFFF;
}

.navbar-dark .navbar-toggler {
    color: var(--primary) !important;
    border-color: var(--primary) !important;
}
.btn-info:hover {
    box-shadow: inset 0 0 0 0 var(--primary);
}
.btn-info{
    line-height: 1.5;
    background: #091e3e;
    color: white;;
}
.dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    font-family: poppins, sans-serif;
}
.footer .navbar-brand img{
    width: 32%;
}
.footer .footer-animated-icon{
    width: 13%;
    /* height: 35px; */
}
@media (max-width: 991.98px) {
    .sticky-top.navbar-dark {
        position: relative;
        background: #FFFFFF;
    }

    .navbar-dark .navbar-nav .nav-link,
    .navbar-dark .navbar-nav .nav-link.show,
    .sticky-top.navbar-dark .navbar-nav .nav-link {
        padding: 10px 0;
        color: var(--dark);
    }

    .navbar-dark .navbar-brand h1 {
        color: var(--primary);
    }
}

@media (min-width: 992px) {
    .navbar-dark {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        border-bottom: 1px solid rgba(256, 256, 256, .1);
        z-index: 999;
        background: white;
    }
    
    .sticky-top.navbar-dark {
        position: fixed;
        background: #FFFFFF;
    }

    .navbar-dark .navbar-nav .nav-link::before {
        position: absolute;
        content: "";
        width: 0;
        height: 2px;
        bottom: -1px;
        left: 50%;
        background: var(--primary);
        transition: .5s;
    }

    .navbar-dark .navbar-nav .nav-link:hover::before,
    .navbar-dark .navbar-nav .nav-link.active::before {
        width: 100%;
        left: 0;
    }

    .navbar-dark .navbar-nav .nav-link.nav-contact::before {
        display: none;
    }

    .sticky-top.navbar-dark .navbar-brand h1 {
        color: var(--primary);
    }
}


/*** Carousel ***/
.carousel-caption {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(9, 30, 62, .7);
    z-index: 1;
    text-align: left;

}

@media (max-width: 576px) {
    .carousel-caption h5 {
        font-size: 14px;
        font-weight: 500 !important;
    }

    .carousel-caption h1 {
        font-size: 30px;
        font-weight: 600 !important;
    }
}

.carousel-control-prev,
.carousel-control-next {
    width: 10%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 3rem;
    height: 3rem;
}


/*** Section Title ***/
.section-title::before {
    position: absolute;
    content: "";
    width: 150px;
    height: 5px;
    left: 0;
    bottom: 0;
    background: var(--primary);
    border-radius: 2px;
}

.section-title.text-center::before {
    left: 50%;
    margin-left: -75px;
}

.section-title.section-title-sm::before {
    width: 90px;
    height: 3px;
}

.section-title::after {
    position: absolute;
    content: "";
    width: 6px;
    height: 5px;
    bottom: 0px;
    background: #FFFFFF;
    -webkit-animation: section-title-run 5s infinite linear;
    animation: section-title-run 5s infinite linear;
}

.section-title.section-title-sm::after {
    width: 4px;
    height: 3px;
}

.section-title.text-center::after {
    -webkit-animation: section-title-run-center 5s infinite linear;
    animation: section-title-run-center 5s infinite linear;
}

.section-title.section-title-sm::after {
    -webkit-animation: section-title-run-sm 5s infinite linear;
    animation: section-title-run-sm 5s infinite linear;
}

@-webkit-keyframes section-title-run {
    0% {left: 0; } 50% { left : 145px; } 100% { left: 0; }
}

@-webkit-keyframes section-title-run-center {
    0% { left: 50%; margin-left: -75px; } 50% { left : 50%; margin-left: 45px; } 100% { left: 50%; margin-left: -75px; }
}

@-webkit-keyframes section-title-run-sm {
    0% {left: 0; } 50% { left : 85px; } 100% { left: 0; }
}


/*** Service ***/
.service-item {
    position: relative;
    height: 300px;
    padding: 0 30px;
    transition: .5s;
}

.service-item .service-icon {
    margin-bottom: 30px;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--primary);
    border-radius: 2px;
    transform: rotate(-45deg);
}

.service-item .service-icon i {
    transform: rotate(45deg);
}

.service-item a.btn {
    position: absolute;
    width: 60px;
    bottom: -48px;
    left: 50%;
    margin-left: -30px;
    opacity: 0;
}

.service-item:hover a.btn {
    bottom: -24px;
    opacity: 1;
}


/*** Testimonial ***/
.testimonial-carousel .owl-dots {
    margin-top: 15px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 15px;
    height: 15px;
    background: #DDDDDD;
    border-radius: 2px;
    transition: .5s;
}

.testimonial-carousel .owl-dot.active {
    width: 30px;
    background: var(--primary);
}

.testimonial-carousel .owl-item.center {
    position: relative;
    z-index: 1;
}

.testimonial-carousel .owl-item .testimonial-item {
    transition: .5s;
    height: 400px;
}

.testimonial-carousel .owl-item.center .testimonial-item {
    background: #FFFFFF !important;
    box-shadow: 0 0 30px #DDDDDD;
}


/*** Team ***/
.team-item {
    transition: .5s;
}

.team-social {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;
}

.team-social a.btn {
    position: relative;
    margin: 0 3px;
    margin-top: 100px;
    opacity: 0;
}

.team-item:hover {
    box-shadow: 0 0 30px #DDDDDD;
}

.team-item:hover .team-social {
    background: rgba(9, 30, 62, .7);
}

.team-item:hover .team-social a.btn:first-child {
    opacity: 1;
    margin-top: 0;
    transition: .3s 0s;
}

.team-item:hover .team-social a.btn:nth-child(2) {
    opacity: 1;
    margin-top: 0;
    transition: .3s .05s;
}

.team-item:hover .team-social a.btn:nth-child(3) {
    opacity: 1;
    margin-top: 0;
    transition: .3s .1s;
}

.team-item:hover .team-social a.btn:nth-child(4) {
    opacity: 1;
    margin-top: 0;
    transition: .3s .15s;
}

.team-item .team-img img,
.blog-item .blog-img img  {
    transition: .5s;
}

.team-item:hover .team-img img,
.blog-item:hover .blog-img img {
    transform: scale(1.15);
}


/*** Miscellaneous ***/
@media (min-width: 991.98px) {
    .facts {
        position: relative;
        margin-top: -75px;
        z-index: 1;
    }
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}

.bg-header {
    background: linear-gradient(rgba(9, 30, 62, .7), rgba(9, 30, 62, .7)), url(../img/carousel-1.jpg) center center no-repeat;
    background-size: cover;
}

.link-animated a {
    transition: .5s;
}

.link-animated a:hover {
    padding-left: 10px;
}

@media (min-width: 767.98px) {
    .footer-about {
        margin-bottom: -75px;
    }
}

@media (max-width: 600px) {
    .navbar-dark .navbar-brand img {
width: 110%;
margin: 6px 0;
}
    
}

